.reproductor {
	width: 207%;
	padding-bottom: 10px;
}
.reproductor .view-header h1 {
	text-align: right;
}
.rep-lista {
width: 46%;
float: left;
padding: 2%;
max-height: 230px;
overflow: auto;
}

.rep-lista ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.rep-play {
width: 46%;
padding: 2%;
float: left;
max-height: 230px;
overflow: hidden;
}
.rep-item {
	cursor: hand;
	cursor: pointer;
}
.rep-item:hover, .rep-item-select {
	background-color: whitesmoke;
}
.rep-item img {
width: 40%;
margin: 2%;
height: auto;
}
.rep-item .rep-item-datos {
vertical-align: top;
display: inline-block;
width: 55%;
}